<div class="grid">
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>

    <div class="col-12 {{expand ? 'flex-column' : 'flex'}}">
        <div class="{{expand ? 'col-12 row' : 'col-6'}}">

            <div class="card col-12 product-container">
                <div class="flex align-items-center justify-content-between">
                    <h5>Listino prodotti</h5>
                    <button pButton pRipple type="button"
                        icon="pi {{!expand ? 'pi-window-maximize' : 'pi-window-minimize'}}" (click)="toggleExpand()"
                        class="p-button-rounded p-button-text"></button>
                </div>
                <p-table [value]="products" responsiveLayout="scroll" [rows]="paginator.count">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Prodotto</th>
                            <th>Descrizione</th>
                            <th>Categoria</th>
                            <th>Impiegato</th>
                            <th>Prezzo</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-index="rowIndex">
                        <tr class="activeOnHover {{currentActiveIndex == index ? 'active' : ''}}"
                            (click)="setActive(index)">
                            <td style="width: 15%; min-width: 5rem;">
                                {{product.data.title}}
                            </td>
                            <td style="width: 35%; min-width: 7rem;">{{product.data.description}}</td>
                            <td style="width: 35%; min-width: 7rem;">{{product.data.category}}</td>
                            <td style="width: 35%; min-width: 7rem;">{{product.data.employee}}</td>
                            <td style="width: 15%; min-width: 8rem;">{{product.data.price | currency:'EUR'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-paginator (onPageChange)="setPaginatorRecap($event)" [rows]="paginator.size"
                    [totalRecords]="paginator.count" [rowsPerPageOptions]="[5,20,25]"></p-paginator>

            </div>
            <div class="card col-12">
                <div class="flex align-items-center justify-content-between">
                    <h5>Dettagli prodotto</h5>
                    <button pButton pRipple type="button"
                        icon="pi {{!expand ? 'pi-window-maximize' : 'pi-window-minimize'}}" (click)="toggleExpand()"
                        class="p-button-rounded p-button-text"></button>
                </div>
                <p *ngIf="currentActiveIndex < 0">Seleziona un prodotto dalla tabella per visualizzare le recensioni</p>
                <div *ngIf="currentActiveIndex >= 0">
                    <h2>{{products[currentActiveIndex].data.title}}</h2>
                    <b>Recensioni del prodotto:</b>
                    <p-confirmPopup></p-confirmPopup>
                    <div class="flex align-items-center justify-content-between"
                        *ngFor="let review of products[currentActiveIndex].data.reviews; let i = index">
                        <div>{{review}}</div>
                        <div>
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                (click)="deleteReview(products[currentActiveIndex].id, i)"
                                class="p-button-rounded p-button-text"></button>
                        </div>
                    </div>
                    <div *ngIf="!products[currentActiveIndex].data.reviews.length">
                        <p>Non sono ancora state inserite
                            recensioni</p>
                    </div>
                    <div class="field col-12">
                        <span class="p-float-label">
                            <input class="col-12" type="text" id="inputtext" pInputText [(ngModel)]="review">
                            <label for="inputtext">Recensione</label>
                        </span>
                        <button (click)="addReview()" class="mt-2" [disabled]="!review" pButton pRipple label="Salva"
                            icon="pi pi-save"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="{{expand ? 'col-12 row' : 'col-6'}}">
            <div class="card">
                <div class="flex align-items-center justify-content-between">
                    <h5>Riepilogo reparti</h5>
                    <button pButton pRipple type="button"
                        icon="pi {{!expand ? 'pi-window-maximize' : 'pi-window-minimize'}}" (click)="toggleExpand()"
                        class="p-button-rounded p-button-text"></button>
                </div>
                <p-chart type="polarArea" [data]="polarData" [options]="polarOptions"></p-chart>
            </div>
        </div>
    </div>
</div>