p-progressspinner {
    position: absolute;
    left: calc(50% - 50px);
    top: 50%;
}

.activeOnHover:hover,
tr.active {
    color: orange !important;
}

.activeOnHover:hover td,
tr.active td {
    cursor: pointer;
}