/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

.th-autocomplete {
    display: flex;
    flex-direction: column;
}

.header div {
    position: absolute;
    top: 0px;
}

.header {
    position: relative;
    min-width: 70px;
}

.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
}

.formgrid.main_table td {
    position: relative;
    height: 20px;
}

.formgrid.main_table td div {}

th {
    padding: 10px;
}

.form-page .col-12 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px !important;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form input {
    width: 100%;
}

.customers-table-row:hover {
    color: orange !important;
    cursor: pointer;
}

.customers-table-row.urgent td {
    border-top: 1px solid red !important;
    border-bottom: 1px solid red !important;
}

.customers-table-row.urgent td:first-child {
    border-left: 1px solid red !important;
}

.customers-table-row.urgent td:last-child {
    border-right: 1px solid red !important;
}

.activeOnHover:hover {
    color: orange !important;
    cursor: pointer;
}